@use '../../../app/src/styles/colors';

html {
  scrollbar-gutter: initial;
}

.header {
  &__title {
    text-align: center;
  }
}

.gallery {
  text-align: center;
}

.team-container {
  display: inline-flex;
  flex-wrap: wrap;
  margin: auto;
  gap: 1rem;
  max-width: calc((4 * 231px) + (3 * 1rem));
}

.score-panel {
  padding-bottom: 0.6rem;
}
