@use '../../app/src/styles/colors';

@mixin gallery-description {
  display: table-cell;
  height: 3rem;
  font-size: 1.2rem;
  vertical-align: bottom;

  &:has(input:not(:checked)) {
    height: unset;
  }
}

.header {
  &__container {
    justify-content: center;
    padding: 1rem 0;
  }
  &__title {
    flex-basis: auto;
    flex-grow: 0;
  }
}

.score-list {
  max-width: unset;
  column-gap: 1rem;
  grid-template-columns: auto repeat(3, 1fr);
}

.gallery-heading {
  &__description {
    @include gallery-description;

    color: colors.$color-accent-light;
  }

  &__toggle {
    margin-right: 0.5rem;
  }
}

.gallery-game {
  width: 16.5rem;

  &__description {
    @include gallery-description;

    font-size: 1.2rem;
    text-align: left;
  }

  &__states {
    font-size: 0.9rem;
    text-align: left;
  }
}
