@use '../../app/src/styles/colors';

@mixin gallery-description {
  display: table-cell;
  font-size: 1.2rem;

  &:has(input:not(:checked)) {
    height: unset;
  }
}

.header {
  &__container {
    justify-content: center;
    padding: 1rem 0;
  }
  &__title {
    flex-basis: auto;
    flex-grow: 0;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem;
}

.gallery-game-state {
  & + & {
    margin-top: 1rem;
  }
}

.gallery-heading {
  text-align: left;

  &__description {
    @include gallery-description;

    color: colors.$color-accent-light;
  }

  &__toggle {
    margin-right: 0.5rem;
  }
}

.gallery-games {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 2rem;
  padding-top: 1rem;
}

.gallery-game {
  &__description {
    @include gallery-description;

    font-size: 1.2rem;
    text-align: left;
  }

  &__states {
    font-size: 0.9rem;
    text-align: left;
  }
}
