.header {
  &__container {
    padding: 1rem 0;
    justify-content: center;
  }
  &__title {
    flex-basis: auto;
    flex-grow: 0;
  }
}

.score-list {
  max-width: unset;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem 1rem;
}

.gallery-game {
  width: 16.5rem;

  &__description {
    height: 3rem;
    text-align: left;
    font-size: 1.2rem;
  }

  &__states {
    text-align: left;
    font-size: 0.9rem;
  }
}
