@import '../../app/sass/colors';

@mixin gallery-description {
  display: table-cell;
  height: 3rem;
  font-size: 1.2rem;
  vertical-align: bottom;
}

.header {
  &__container {
    padding: 1rem 0;
    justify-content: center;
  }
  &__title {
    flex-basis: auto;
    flex-grow: 0;
  }
}

.score-list {
  max-width: unset;
  grid-template-columns: auto repeat(3, 1fr);
  gap: 3rem 1rem;
}

.gallery-heading {
  &__description {
    @include gallery-description;
    color: $color-accent-light;
  }
}

.gallery-game {
  width: 16.5rem;

  &__description {
    @include gallery-description;
    text-align: left;
    font-size: 1.2rem;
  }

  &__states {
    text-align: left;
    font-size: 0.9rem;
  }
}
