{
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true
  },
  "globals": {
    "process": false
  },
  "extends": ["airbnb-base", "prettier"],
  "overrides": [
    {
      "files": "animations.js",
      "rules": {
        "no-param-reassign": "off"
      }
    }
  ],
  "rules": {
    "import/prefer-default-export": "off",
    "no-console": "warn",
    "no-nested-ternary": "off",
    "no-unused-vars": "warn",
    "no-restricted-globals": "off",
    "no-use-before-define": "off",
    "semi": "off"
  }
}
