{
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true
  },
  "globals": {
    "process": false
  },
  "extends": "eslint:recommended",
  "rules": {
    "no-console": 1,
    "no-unused-vars": 1,
    "semi": 2
  }
}
