.game {
  width: $game-card-width;
  margin: $game-card-margin;
  float: left;
  transition: transform $focus-duration $focus-timing-function,
    background-color $focus-duration $focus-timing-function;
  border-radius: $border-radius;
  background: $background-game;
  font-size: 1.4rem;
  box-sizing: border-box;

  &.in-front {
    position: relative;
    box-shadow: $color-shadow 0 5px 10px;
    z-index: 1;
  }

  &.in-focus {
    background: $background-game-in-focus;
  }

  &__score-panel {
    display: flex;
    align-items: baseline;
    padding: 0.45rem 0 0.5rem;
    border-radius: $border-radius $border-radius 0 0;
    color: $color-score-panel;
    font-size: 1.2rem;
  }

  &__info-panel {
    position: relative;
    height: $game-description-height + get-stats-panel-height($team-stats-line-count-not-finished);
    padding-bottom: $panel-padding-height;
    font-size: 1.2rem;
    line-height: 1.5rem;
    box-sizing: border-box;

    @media (prefers-reduced-motion: no-preference) {
      transition: height $height-duration $height-timing-function;
    }

    &:last-child > *:last-child {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }

    .game--playback &,
    .game--pre-summary-finished &,
    .game--summary-finished & {
      height: $latest-goal-height;
    }

    .game--in-progress &,
    .game--pre-summary-in-progress &,
    .game--summary-in-progress & {
      height: $latest-goal-height + $game-description-height;
    }

    .game--post-game-finished & {
      height: $latest-goal-height + get-stats-panel-height($team-stats-line-count-finished);
    }
    .game--post-game-finished &--with-game-stats {
      height: $latest-goal-height + get-stats-panel-height($team-stats-line-count-finished) +
        get-stats-section-height($game-stats-line-count);
    }

    .game--post-game-in-progress & {
      height: $latest-goal-height + $game-description-height +
        get-stats-panel-height($team-stats-line-count-not-finished);
    }
    .game--post-game-in-progress &--with-game-stats {
      height: $latest-goal-height + $game-description-height +
        get-stats-panel-height($team-stats-line-count-not-finished) +
        get-stats-section-height($game-stats-line-count);
    }

    &--playoff {
      height: $game-description-height + get-stats-panel-height($team-stats-line-count-playoff);

      .game--post-game-finished & {
        height: $latest-goal-height + get-stats-panel-height($team-stats-line-count-playoff);
      }
      .game--post-game-finished &--with-game-stats {
        height: $latest-goal-height + get-stats-panel-height($team-stats-line-count-playoff) +
          get-stats-section-height($game-stats-line-count);
      }

      .game--post-game-in-progress & {
        height: $latest-goal-height + $game-description-height +
          get-stats-panel-height($team-stats-line-count-playoff);
      }
      .game--post-game-in-progress &--with-game-stats {
        height: $latest-goal-height + $game-description-height +
          get-stats-panel-height($team-stats-line-count-playoff) +
          get-stats-section-height($game-stats-line-count);
      }
    }
  }

  &__series-wins {
    padding: $panel-padding-height 0;
    background-color: $background-series-wins;
    color: $color-main;
    font-size: 1rem;
    text-transform: uppercase;

    &:last-child {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  &__errors {
    padding: $panel-padding-height 0;
    font-size: 1rem;
  }
}
