@use '../styles/animations';
@use '../styles/sizes';

main {
  margin-top: sizes.$header-height + 0.25rem;
  padding: sizes.$game-card-margin;
}

.status {
  &__message {
    &.additional-message {
      animation: animations.$fade-in-duration animations.$fade-timing-function 1s both fade-in;

      &:nth-child(2) {
        margin-top: 0.5rem;
      }
    }
  }
}
