@use '../styles/animations';
@use '../styles/colors';

.button {
  padding: 0.25rem;
  border: 0;
  outline: none;
  background-color: transparent;
  font-size: 0; // Remove extra height due to inline-block child, see https://ourcodeworld.com/articles/read/658/removing-whitespaces-between-inline-block-elements-with-css

  .visible-button {
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    transition: color animations.$hover-duration animations.$hover-timing-function;
    color: colors.$gray;
    animation: animations.$fade-duration fade-in;

    &:hover {
      color: colors.$white;
    }
  }

  // Use :focus-visible with fallback for non-supporting browsers,
  // source https://stackoverflow.com/a/45191208/305436
  &:focus {
    .visible-button {
      outline: 2px solid colors.$color-main;
    }
    &:not(:focus-visible) {
      .visible-button {
        outline: none;
      }
    }
  }

  &--hidden {
    cursor: default;
    opacity: 0;
    animation: animations.$fade-duration hidden;
  }
}
