@use '../styles/animations';

.expandable {
  @include animations.delayed-animation;

  display: grid;
  overflow: hidden;

  @media (prefers-reduced-motion: no-preference) {
    transition: grid-template-rows animations.$height-duration animations.$height-timing-function;
  }

  &--hidden {
    visibility: hidden;
    grid-template-rows: 0fr;
  }

  &--shown {
    visibility: visible;
    grid-template-rows: 1fr;
  }

  &__container {
    min-height: 0;
  }
}
