.game {
  width: $game-card-width;
  margin: $game-card-margin;
  float: left;
  transition:
    transform $focus-duration $focus-timing-function,
    background-color $focus-duration $focus-timing-function;
  border-radius: $border-radius;
  background: $background-game;
  font-size: 1.4rem;
  box-sizing: border-box;

  &.in-front {
    position: relative;
    box-shadow: $color-shadow 0 5px 10px;
    z-index: 1;
  }

  &.in-focus {
    background: $background-game-in-focus;
  }

  &__series-wins {
    padding: $panel-padding-height 0;
    background-color: $background-series-wins;
    color: $color-main;
    font-size: 1rem;
    text-transform: uppercase;

    &:last-child {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  &__errors {
    padding: $panel-padding-height 0;
    font-size: 1rem;
  }
}
