@use '../styles/animations';
@use '../styles/colors';
@use '../styles/sizes';

.game {
  width: sizes.$game-card-width;
  margin: sizes.$game-card-margin;
  float: left;
  transition:
    transform animations.$focus-timing-function,
    background-color animations.$focus-timing-function;
  transition-duration: animations.$focus-duration-exit, animations.$focus-duration-exit;
  border-radius: sizes.$border-radius;
  background: colors.$background-game;
  font-size: 1.4rem;
  box-sizing: border-box;

  &.in-front {
    position: relative;
    box-shadow: colors.$color-shadow 0 5px 10px;
    z-index: 1;
  }

  &.in-focus {
    background: colors.$background-game-in-focus;
    transition-duration: animations.$focus-duration-enter, animations.$focus-duration-enter;
  }

  &__secondary-panel {
    background-color: colors.$background-secondary-panel;

    &:last-child {
      border-bottom-left-radius: sizes.$border-radius;
      border-bottom-right-radius: sizes.$border-radius;
    }
  }

  &__series-wins {
    padding: sizes.$panel-padding-height 0;
    color: colors.$color-main;
    font-size: 1rem;
    text-transform: uppercase;
  }

  &__errors {
    padding: sizes.$panel-padding-height 0;
    font-size: 1rem;
  }
}
