@use '../styles/base';
@use '../styles/colors';

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: colors.$background-header;
  color: colors.$color-header;
  box-shadow: 0 0 4px 0 colors.$color-shadow;
  overflow: hidden;
  z-index: 1;

  &__container {
    display: flex;
    align-items: center;
    max-width: 34rem;
    margin: auto;
    padding: 0 0.8rem;
    overflow: hidden;
    box-sizing: border-box;
  }

  &__title {
    @include base.stretch;
    display: inline;
    margin: 0;
    font-size: 1.6rem;
    font-weight: 800;
    text-align: left;

    .all-caps {
      letter-spacing: -0.5px;
    }
  }
}
