@use '../styles/base';
@use '../styles/colors';
@use '../styles/sizes';

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: sizes.$header-height;
  background-color: colors.$background-header;
  color: colors.$color-header;
  box-shadow: 0 0 4px 0 colors.$color-shadow;
  overflow: hidden;
  z-index: 2;

  &__container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 34rem;
    margin: auto;
    padding: 0 0.8rem;
    overflow: hidden;
    box-sizing: border-box;
  }

  &__title {
    @include base.stretch;

    display: inline;
    margin: 0;
    font-size: 1.6rem;
    font-weight: 800;
    text-align: left;
    padding-top: 0.2rem;

    .all-caps {
      letter-spacing: -0.5px;
    }
  }

  &__date {
    @include base.stretch;

    text-align: right;
    padding-top: 0.2rem;
  }
}
