@use '../styles/animations';
@use '../styles/colors';
@use '../styles/sizes';

.links-panel {
  padding: sizes.$panel-padding-height 0;
  color: colors.$color-main;

  .expandable:not(:last-child) & {
    padding-bottom: 0;
  }

  .game--pre-game &,
  .game--post-game-in-progress &,
  .game--post-game-finished & {
    @include animations.fade-in-with-slide-animation;
    @include animations.delayed-animation-later;
  }

  &__heading {
    color: colors.$color-accent-light;
    font-size: 1rem;
    text-transform: uppercase;
  }

  &__link-container {
    display: inline-flex;
    flex-direction: column;
  }

  &__link {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    transition: background-color animations.$hover-duration animations.$hover-timing-function;
    border: 1px solid colors.$border-color-link;
    border-radius: sizes.$link-border-radius;
    color: colors.$color-main;
    font-size: 1.2rem;
    text-decoration: none;

    &:hover,
    &:active {
      background-color: colors.$background-link-hover;
    }
  }

  &__link-icon-container {
    display: inline-block;
    position: relative;
    top: 0.05rem;
    width: 1rem;
    margin-left: 0.5rem;
  }
}
