.links-panel {
  padding: $panel-padding-height 0;
  color: $color-main;

  .expandable:not(:last-child) & {
    padding-bottom: 0;
  }

  .game--post-game-in-progress &,
  .game--post-game-finished & {
    @include fade-in-with-slide-animation;
    @include delayed-animation-later;
  }

  &__heading {
    color: $color-accent-light;
    font-size: 1rem;
    text-transform: uppercase;
  }

  &__link-container {
    display: inline-flex;
    flex-direction: column;
  }

  &__link {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    transition: background-color $hover-duration $hover-timing-function;
    border: 1px solid $border-color-link;
    border-radius: $link-border-radius;
    color: $color-main;
    font-size: 1.2rem;
    text-decoration: none;

    &::after {
      display: inline-block;
      position: relative;
      top: 0.05rem;
      width: 1rem;
      margin-left: 0.5rem;
      content: url('external-link.svg');
    }

    &:hover,
    &:active {
      background-color: $background-link-hover;
    }
  }
}
