/* Adapted from #4 in https://css-loaders.com/classic/ */
.loader {
  &::before {
    content: '...';
  }

  @media (prefers-reduced-motion: no-preference) {
    animation: l4 1.5s steps(8) infinite;
  }
}

@keyframes l4 {
  from {
    clip-path: inset(0 2ch 0 0);
  }
  to {
    clip-path: inset(0 -2ch 0 0);
  }
}
