@use '../styles/colors';

.team-panel {
  display: flex;
  flex-basis: 1rem;
  flex-grow: 1;
  align-items: baseline;

  &__team-name {
    font-weight: 600;
  }

  &__team-score {
    position: relative;
    top: 2px;
    color: colors.$color-highlight;
    font-size: 1.7rem;
    font-weight: 700;
    font-variant-numeric: tabular-nums;

    &--hidden {
      visibility: hidden;
    }
  }
  &--away &__team-score {
    margin-left: 0.3em;
  }
  &--home &__team-score {
    margin-right: 0.3em;
  }

  &__delimiter {
    width: 1em;
    color: colors.$color-main;
    text-align: center;
  }

  &__delimiter-period {
    position: relative;
    bottom: 1px;
    font-size: 0.8rem;
  }
}
