@mixin horizontal-offset($team-abbreviation, $offset) {
  &--#{$team-abbreviation}#{&}--away {
    right: $offset;
  }
  &--#{$team-abbreviation}#{&}--home {
    left: $offset;
  }
}

.team-logo {
  position: relative;
  flex-grow: 1;
  height: 1.25em;

  &__image {
    position: absolute;
    top: 1px;
    width: 2.5em;
    height: 1.67em;

    &--away {
      right: 0;
    }
    &--home {
      left: 0;
    }

    @include horizontal-offset(CAR, 2px);
    @include horizontal-offset(DAL, -2px);
    @include horizontal-offset(DET, 2px);
    @include horizontal-offset(FLA, -1px);
    @include horizontal-offset(LAK, 4px);
    @include horizontal-offset(MIN, 2px);
    @include horizontal-offset(MTL, 2px);
    @include horizontal-offset(NJD, -1px);
    @include horizontal-offset(NSH, 2px);
    @include horizontal-offset(NYR, -1px);
    @include horizontal-offset(OTT, 1px);
    @include horizontal-offset(SEA, -4px);
    @include horizontal-offset(SJS, 3px);
    @include horizontal-offset(STL, -1px);
    @include horizontal-offset(TBL, 1px);
    @include horizontal-offset(TOR, -2px);
    @include horizontal-offset(UTA, 2px);
    @include horizontal-offset(VGK, -3px);
    @include horizontal-offset(WSH, 1px);
  }
}
