/* stylelint-disable-next-line selector-class-pattern */
.team-logo__image {
  &--WSH {
    transform: scale(1.314);
  }

  &--TBL {
    transform: scale(1.277);
  }

  &--STL {
    transform: scale(1.248);
  }

  &--NSH {
    transform: scale(1.181);
  }

  &--DAL {
    transform: scale(1.168);
  }

  &--SEA {
    transform: scale(1.101);
  }

  &--SJS {
    transform: scale(1.063);
  }

  &--TOR {
    transform: scale(1.059);
  }

  &--PIT {
    transform: scale(1.058);
  }

  &--MIN {
    transform: scale(1.037);
  }

  &--CGY {
    transform: scale(1.036);
  }

  &--COL {
    transform: scale(1.01);
  }

  &--CBJ {
    transform: scale(1.007);
  }

  &--VAN {
    transform: scale(0.998);
  }

  &--ANA {
    transform: scale(0.991);
  }

  &--DET {
    transform: scale(0.98);
  }

  &--CHI {
    transform: scale(0.977);
  }

  &--PHI {
    transform: scale(0.975);
  }

  &--ARI {
    transform: scale(0.972);
  }

  &--VGK {
    transform: scale(0.968);
  }

  &--NYR {
    transform: scale(0.966);
  }

  &--UTA {
    transform: scale(0.964);
  }

  &--NJD {
    transform: scale(0.957);
  }

  &--FLA {
    transform: scale(0.952);
  }

  &--CAR {
    transform: scale(0.94);
  }

  &--OTT {
    transform: scale(0.934);
  }

  &--NYI {
    transform: scale(0.918);
  }

  &--LAK {
    transform: scale(0.904);
  }

  &--MTL {
    transform: scale(0.872);
  }

  &--BOS {
    transform: scale(0.857);
  }

  &--BUF {
    transform: scale(0.856);
  }

  &--EDM {
    transform: scale(0.847);
  }

  &--WPG {
    transform: scale(0.831);
  }
}
