.stats {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: $panel-padding-height;
  box-sizing: border-box;

  &__heading {
    color: $color-accent-light;
    font-size: 1rem;
    text-transform: uppercase;
  }
}
