@use '../../../styles/base';
@use '../../../styles/colors';

.stat {
  display: flex;
  width: 100%;

  &__value {
    display: flex;
    align-items: center;
    @include base.stretch;

    &--away {
      justify-content: flex-end;
    }
    &--home {
      justify-content: flex-start;
    }
    &--highlight {
      color: colors.$color-highlight;
    }
  }

  .icon {
    display: flex;
    height: calc(1rem - 1px);
    width: calc(1rem - 1px);
  }

  &__value--away .icon {
    margin-right: 5px;
  }
  &__value--home .icon {
    margin-left: 5px;
  }
  &__value[class*="--streak-"] .icon {
    margin-bottom: 1px;
  }
  &__value--away[class*="--positive"] .icon {
    margin-right: 4px;
  }

  &__label {
    display: inline-block;
    width: 5.5rem;
    color: colors.$color-main;
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  &__delimiter {
    margin: 0 1px;
  }
}
