@use '../../../styles/animations';
@use '../../../styles/colors';
@use '../../../styles/sizes';

.stats-panel {
  min-height: 0;
  background-color: colors.$background-stats-panel;

  &__container {
    min-height: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: sizes.$panel-padding-height 0;
    gap: sizes.$panel-padding-height;
  }
}
