@use '../../../styles/base';
@use '../../../styles/colors';

.stat {
  display: flex;
  width: 100%;

  &__value {
    @include base.stretch;

    &--away {
      text-align: right;
    }
    &--home {
      text-align: left;
    }
    &--highlight {
      color: colors.$color-highlight;
    }

    &--streak-win,
    &--streak-loss {
      &::before,
      &::after {
        display: inline-block;
        position: relative;
        font-size: 1rem;
      }
    }
    &--streak-win {
      &::before,
      &::after {
        bottom: 2px;
      }
      &[class*="--away"]::before {
        content: '🔥';
        margin-right: 0.25rem;
      }
      &[class*="--home"]::after {
        content: '🔥';
        margin-left: 0.25rem;
      }
    }
    &--streak-loss {
      &::before,
      &::after {
        bottom: 1px;
      }
      &[class*="--away"]::before {
        content: '❄️';
        margin-right: 0.25rem;
      }
      &[class*="--home"]::after {
        content: '❄️';
        margin-left: 0.25rem;
      }
    }
  }

  &__label {
    display: inline-block;
    width: 5.5rem;
    color: colors.$color-main;
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  &__delimiter {
    margin: 0 1px;
  }
}
