@use '../../../styles/base';
@use '../../../styles/colors';

.stat {
  display: flex;
  width: 100%;

  &__value {
    display: flex;
    align-items: center;
    @include base.stretch;

    &--away {
      justify-content: flex-end;
    }
    &--home {
      justify-content: flex-start;
    }
    &--highlight {
      color: colors.$color-highlight;
    }

    &--away .icon {
      margin-right: 0.5ch;
    }
    &--home .icon {
      margin-left: 0.5ch;
    }
  }

  .icon {
    display: flex;
    height: 1rem;
    width: 1rem;
    margin-bottom: 1px;
  }

  &__label {
    display: inline-block;
    width: 5.5rem;
    color: colors.$color-main;
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  &__delimiter {
    margin: 0 1px;
  }
}
