@use '../../../styles/animations';
@use '../../../styles/colors';
@use '../../../styles/sizes';

.stats {
  @include animations.delayed-animation;

  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;

  &__heading {
    color: colors.$color-accent-light;
    font-size: 1rem;
    text-transform: uppercase;
  }

  &__subheading {
    color: colors.$color-main;
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-top: sizes.$team-stats-subheading-offset;
  }

  .game--post-game-in-progress &,
  .game--post-game-finished & {
    @include animations.fade-in-with-slide-animation;
    @include animations.delayed-animation;
  }
}
