@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800);

html {
  font-size: 62.5%;

  @media (min-width: 360px) {
    font-size: 70%;
  }
  @media (min-width: 400px) {
    font-size: 80%;
  }
}

body {
  margin: 0;
  background-color: $white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6em;
  text-align: center;
}
