$fade-duration: 1s;
$expand-duration: 0.5s;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800);

html {
  font-size: 62.5%;

  @media (min-width: 360px) {
    font-size: 70%;
  }
  @media (min-width: 400px) {
    font-size: 80%;
  }
}

body {
  margin: 0;
  background-image: linear-gradient(to right, darken($body-background, 5), lighten($body-background, 10));
  color: $white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6em;
  text-align: center;
}

.fade-in {
  animation: $fade-duration fade-in;
}
.fade-in-fast {
  animation: ($fade-duration / 2) fade-in-fast;
}

// Need two separate animation names to re-trigger animation
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fade-in-fast {
  from { opacity: 0; }
  to { opacity: 1; }
}

.expand {
  @for $i from 1 through 15 {
    &:nth-child(#{$i}) {
      $delay: $i * 100ms;
      animation: $delay hidden, $expand-duration ease-in expand $delay, $fade-duration ease-in fade-in $delay;
    }
    &--#{$i} {
      $delay: $i * 100ms + 500ms;
      animation: $delay hidden, $expand-duration ease-in expand $delay, $fade-duration ease-in fade-in $delay;
    }
  }
}

@keyframes expand {
  from { transform: scale(0, 0); }
  to { transform: scale(1, 1); }
}

@keyframes hidden {
  from { opacity: 0; }
  to { opacity: 0; }
}

@mixin stretch {
  flex-basis: 0;
  flex-grow: 1;
}
