$fade-duration: 0.5s;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800);

html {
  font-size: 62.5%;

  @media (min-width: 360px) {
    font-size: 70%;
  }
  @media (min-width: 400px) {
    font-size: 80%;
  }
}

body {
  margin: 0;
  background-color: $white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6em;
  text-align: center;
}

.fade-in {
  animation: $fade-duration fade-in;
}
.fade-in-fast {
  animation: ($fade-duration / 2) fade-in-fast;
}

// Need two separate animation names to re-trigger animation
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fade-in-fast {
  from { opacity: 0; }
  to { opacity: 1; }
}
