$lighter-blue: #25419d;
$darker-blue: #0f2571;
$gray: #6a6a6a;
$white: #fff;

$semi-transparent-gray: rgba(0, 0, 0, 0.5);
$darker-transparent-gray: rgba(0, 0, 0, 0.07);
$lighter-transparent-gray: rgba(0, 0, 0, 0.05);
