$lighter-blue: #2b397a;
$light-blue: #25419d;
$darker-blue: #0f2571;
$gray: #9b9b9b;
$white: #f8f8f8;

$semi-transparent-gray: rgba(0, 0, 0, 0.5);
$darker-transparent-gray: rgba(0, 0, 0, 0.07);
$lighter-transparent-gray: rgba(0, 0, 0, 0.05);

$body-background: #425db6;
