.game {
  width: $game-card-width;
  margin: $game-card-margin;
  float: left;
  transition: transform $focus-duration $focus-timing-function;
  border-radius: 4px;
  background: $background-game;
  font-size: 1.4rem;
  box-sizing: border-box;

  &.in-front {
    position: relative;
    z-index: 1;
  }

  &.in-focus {
    background: $background-game-in-focus;
    box-shadow: $color-shadow 0 5px 10px;
  }

  &__score-panel {
    display: flex;
    align-items: baseline;
    padding: 0.2rem 0 0.5rem;
    border-radius: 4px 4px 0 0;
    color: $color-score-panel;
    font-size: 1.2rem;
  }

  &__info-panel {
    position: relative;
    height: $game-description-height + $game-stats-padding-height + 2 * $game-stats-line-height;
    padding-bottom: 0.5rem;
    transition: height $height-duration $height-timing-function;
    font-size: 1.2rem;
    line-height: 1.5rem;
    box-sizing: border-box;

    .game--GAME_DISPLAY_PLAYBACK & {
      height: $latest-goal-height;
    }

    .game--GAME_DISPLAY_IN_PROGRESS & {
      height: $latest-goal-height + $game-description-height;
    }

    .game--GAME_DISPLAY_POST_GAME_FINISHED & {
      height: $latest-goal-height + $game-stats-padding-height + 6 * $game-stats-line-height;
    }

    .game--GAME_DISPLAY_POST_GAME_IN_PROGRESS & {
      height: $latest-goal-height + $game-description-height + $game-stats-padding-height + 2 *
        $game-stats-line-height;
    }

    .game--GAME_DISPLAY_POST_GAME_FINISHED &,
    .game--GAME_DISPLAY_POST_GAME_IN_PROGRESS & {
      .game-stats {
        position: absolute;
        bottom: 0;
      }
    }

    &--playoff {
      height: $game-description-height + $game-stats-padding-height + 3 * $game-stats-line-height;

      .game--GAME_DISPLAY_POST_GAME_FINISHED & {
        height: $latest-goal-height + $game-stats-padding-height + 3 * $game-stats-line-height;
      }

      .game--GAME_DISPLAY_POST_GAME_IN_PROGRESS & {
        height: $latest-goal-height + $game-description-height + $game-stats-padding-height + 3 *
          $game-stats-line-height;
      }
    }
  }

  &__series-wins {
    padding: 0.5rem 0;
    color: $color-main;
    font-size: 1rem;
    text-transform: uppercase;
  }

  &__errors {
    padding: 0.25rem 0;
    background-color: $background-game-errors;
    font-size: 1.2rem;
  }
}
