.game {
  width: $game-card-width;
  margin: $game-card-margin;
  float: left;
  border-radius: 4px;
  background: $background-game;
  font-size: 1.4rem;
  box-sizing: border-box;

  &__score-panel {
    display: flex;
    align-items: baseline;
    padding: 0.2rem 0 0.5rem;
    border-radius: 4px 4px 0 0;
    background: $background-score-panel;
    color: $color-score-panel;
    font-size: 1.2rem;
  }

  &__info-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 7.1rem;
    padding-top: 0.5rem;
    transition: height $height-duration $height-timing-function;
    font-size: 1.2rem;
    line-height: 1.5rem;
    box-sizing: border-box;

    &--playoff {
      height: 4.1rem;
    }

    &.increased-height {
      height: 9.2rem;
    }
  }

  &__series-wins {
    padding-top: 0.2rem;
    padding-bottom: 0.5rem;
    color: $color-main;
    font-size: 1rem;
    text-transform: uppercase;
  }
}
