.game {
  width: $game-card-width;
  margin: $game-card-margin;
  float: left;
  background: $darker-blue;
  font-size: 1.4rem;
  box-sizing: border-box;

  &__score-panel {
    padding: 0.3rem 0;
    background: $lighter-blue;
  }

  &__latest-goal-panel {
    height: 4rem;
    padding-top: 0.5rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
    box-sizing: border-box;
  }

  &__series-wins {
    padding-top: 0.2rem;
    padding-bottom: 0.5rem;
    color: $gray;
    font-size: 1rem;
    text-transform: uppercase;
  }
}
