header {
  color: $white;
  background-color: $blue;
  padding: 8px 10px;
  margin-bottom: 1em;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
}

header .title {
  display: inline;
  font-size: 1.6rem;
  font-weight: 800;
  margin: 0;
}
