.header {
  margin-bottom: 2em;
  padding: 8px 10px;
  background-color: $blue;
  color: $white;
  box-shadow: 0 0 4px 0 $semi-transparent-gray;
  overflow: hidden;

  &__container {
    max-width: 420px;
    margin: auto;
  }

  &__title {
    display: inline;
    margin: 0;
    float: left;
    font-size: 1.6rem;
    font-weight: 800;
  }
}
