.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $background-header;
  color: $color-header;
  box-shadow: 0 0 4px 0 $color-shadow;
  overflow: hidden;
  z-index: 1;

  &__container {
    display: flex;
    align-items: center;
    max-width: 34rem;
    margin: auto;
    padding: 0.4rem 0.8rem;
    overflow: hidden;
    box-sizing: border-box;
  }

  &__title {
    @include stretch;
    display: inline;
    margin: 0;
    font-size: 1.6rem;
    font-weight: 800;
    text-align: left;
  }
}
