.latest-goal {
  padding-bottom: 0.5rem;
  &__time,
  &__goal-count {
    color: $color-main;
  }

  &__team {
    margin-left: 0.7rem;
    color: $color-accent-light;
  }

  &__strength,
  &__empty-net {
    margin-left: 0.7rem;
    color: $color-accent;
  }

  &__scorer,
  &__assister {
    color: $color-highlight;
    white-space: nowrap;
    overflow: hidden;
  }

  &__assists {
    margin-top: 0.5rem;
  }

  &__assists-label {
    font-size: 1rem;
    text-transform: uppercase;
  }
}
