.latest-goal {
  &__time,
  &__goal-count {
    color: $color-main;
  }

  &__strength,
  &__empty-net {
    margin-left: 0.7rem;
    color: $color-accent;
  }

  &__scorer {
    white-space: nowrap;
    overflow: hidden;
  }
}
