.latest-goal {
  &__time,
  &__goal-count {
    color: $gray;
  }

  &__empty-net {
    margin-left: 0.7rem;
    color: $light-gray;
  }

  &__scorer {
    white-space: nowrap;
    overflow: hidden;
  }
}
