@mixin horizontal-offset($team-id, $offset) {
  &--#{$team-id} {
    right: $offset;
  }
}

.player-logo {
  @include horizontal-offset(24, 2px); // ANA
  @include horizontal-offset(53, -1px); // ARI

  position: relative;
  width: 1.5em;
  height: 1em;
}
