$game-card-line-height: 1.5rem;
$game-card-margin: 0.2rem;
$game-card-width: 15.5rem;

$game-description-padding-height: 0.5rem;
$game-description-height: $game-card-line-height + $game-description-padding-height;

$game-stats-line-height: $game-card-line-height;
$game-stats-padding-height: 1rem;

$latest-goal-height: 8.5rem;
$latest-goal-padding-height: 0.5rem;

$content-width: 2 * ($game-card-width + 2 * $game-card-margin) + 0.1rem;
