.stats {
  @include delayed-animation;
  width: 100%;

  &__heading {
    color: $color-accent-light;
    font-size: 1rem;
    text-transform: uppercase;
  }

  &--game-stats {
    padding: ($stats-padding-height / 2) 0;
    background-color: $background-game-stats;
  }

  &--team-stats {
    padding: ($stats-padding-height / 2) 0;
    background-color: $background-team-stats;
  }
}
