.team-panel {
  display: inline-block;
  width: 30%;

  &--away {
    text-align: right;
  }
  &--home {
    text-align: left;
  }

  &__team-score {
    font-weight: bold;
  }
  &--away &__team-score {
    margin-left: 0.5em;
  }
  &--home &__team-score {
    margin-right: 0.5em;
  }

  &__delimiter {
    display: inline-block;
    position: relative;
    width: 1.5em;
    height: 1em;
  }

  &__delimiter-period {
    position: absolute;
    top: 2px;
    left: 4px;
    font-size: 1rem;
  }
}
