.team-panel {
  flex-basis: 0;
  flex-grow: 1;

  &--away {
    text-align: right;
  }
  &--home {
    text-align: left;
  }

  &__team-score {
    font-weight: bold;
  }
  &--away &__team-score {
    margin-left: 0.5em;
  }
  &--home &__team-score {
    margin-right: 0.5em;
  }

  &__delimiter {
    width: 1.5em;
    height: 1em;
    color: $gray;
    text-align: center;
  }

  &__delimiter-period {
    position: relative;
    bottom: 1px;
    font-size: 1rem;
  }
}
