.team-panel {
  display: flex;
  flex-basis: 1rem;
  flex-grow: 1;
  align-items: baseline;

  &__team-name {
    padding-bottom: 1px;
    font-weight: bold;
  }

  &__team-score {
    position: relative;
    top: 2px;
    padding-bottom: 1px;
    color: $color-highlight;
    font-size: 1.7rem;
    font-weight: bold;

    &--hidden {
      visibility: hidden;
    }
  }
  &--away &__team-score {
    margin-left: 0.4em;
  }
  &--home &__team-score {
    margin-right: 0.4em;
  }

  &__delimiter {
    width: 1em;
    color: $color-main;
    text-align: center;
  }

  &__delimiter-period {
    position: relative;
    bottom: 2px;
    font-size: 0.8rem;
  }
}
