.team-stats {
  display: flex;
  width: 100%;

  &__value {
    @include stretch;

    &--away {
      text-align: right;
    }
    &--home {
      text-align: left;
    }
    &--highlight {
      color: $color-highlight;
    }
  }

  &__label {
    display: inline-block;
    width: 6rem;
    color: $color-main;
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  &__delimiter {
    margin: 0 1px;
  }
}
