@use '../../../app/src/styles/colors';

button {
  font-size: 1.2rem;
  background-color: colors.$blue-dark;
  color: colors.$white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 2rem;

  &:active {
    background-color: colors.$blue-medium;
  }
}

@mixin gallery-description {
  display: table-cell;
  font-size: 1.2rem;

  &:has(input:not(:checked)) {
    height: unset;
  }
}

.header {
  &__container {
    justify-content: center;
    padding: 1rem 0;
  }
  &__title {
    flex-basis: auto;
    flex-grow: 0;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem;
}

.gallery-controls {
  margin: 0.5rem 0;
}

.gallery-heading {
  text-align: left;

  &__description {
    @include gallery-description;

    color: colors.$color-accent-light;
  }
}

.replay-game-display-states {
  visibility: hidden;
  margin-left: 1rem;

  .gallery-game-state[open] & {
    visibility: visible;
  }
}

.gallery-games {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 2rem;
  padding-top: 1rem;
}

.gallery-game {
  &__description {
    @include gallery-description;

    font-size: 1.2rem;
    text-align: left;
  }

  &__states {
    font-size: 0.9rem;
    text-align: left;
  }
}
