$fade-duration: 1s;
$expand-duration: 0.5s;
$focus-duration: 0.25s;
$height-duration: 0.25s;

$expand-timing-function: cubic-bezier(0.53, 0.01, 0.6, 1.23);
$focus-timing-function: ease-out;
$height-timing-function: ease-in-out;

.fade-in {
  animation: $fade-duration fade-in;
}
.fade-in-fast {
  animation: ($fade-duration / 2) fade-in-fast;
}
.fade-in-slow {
  animation: ($fade-duration * 2) fade-in;
}

// Need two separate animation names to re-trigger animation
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in-fast {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.expand {
  @for $i from 0 through 15 {
    &--#{$i} {
      $delay: $i * 50ms + 50ms;
      animation: $delay hidden, $expand-duration $expand-timing-function expand $delay,
        ($fade-duration / 2) ease-in fade-in $delay;
    }
  }
}

@keyframes expand {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes hidden {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@mixin delayed-animation {
  animation-fill-mode: both;
  animation-delay: ($fade-duration / 4);
}
