$border-radius: 4px;

$game-card-line-height: 1.5rem;
$game-card-margin: 0.2rem;
$game-card-width: 15.75rem;

$panel-padding-height: 0.75rem;
$game-description-height: $game-card-line-height + $panel-padding-height;

$stats-line-height: $game-card-line-height;

$latest-goal-height: 8.75rem;
$latest-goal-padding-height: $panel-padding-height;

$content-width: 2 * ($game-card-width + 2 * $game-card-margin) + 0.1rem;

$game-stats-line-count: 9;
$team-stats-line-count-not-finished: 3;
$team-stats-line-count-finished: 7;
$team-stats-line-count-playoff: 4;

@function get-stats-section-height($line-count) {
  @return $panel-padding-height + $line-count * $stats-line-height;
}

@function get-stats-panel-height($line-count) {
  @return $panel-padding-height + get-stats-section-height($line-count);
}
