@use 'colors';

@import url('https://indestructibletype.com/fonts/Jost.css');

html {
  --animation-speed: 1;

  scrollbar-gutter: stable;
  font-size: 56.25%;

  @media (min-width: 340px) {
    font-size: 62.5%;
  }
  @media (min-width: 370px) {
    font-size: 68.75%;
  }
  @media (min-width: 400px) {
    font-size: 75%;
  }
  @media (min-width: 440px) {
    font-size: 81.25%;
  }
  @media (min-width: 500px) {
    font-size: 87.5%;
  }
}

body {
  margin: 0;
  padding-bottom: 1rem;
  background-color: colors.$background-body;
  background-image: url('/ice.svg');
  color: colors.$color-main;
  font-family: 'Jost', sans-serif;
  font-size: 1.6em;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip-path: inset(100%);
  user-select: none;
}

@mixin stretch {
  flex-basis: 0;
  flex-grow: 1;
}
