// Color values
$blue-dark: hsl(227deg, 77%, 25%);
$blue-dark-semi-transparent: hsla(227deg, 77%, 25%, 0.5);
$blue-light: hsl(226deg, 47%, 49%);
$blue-medium: hsl(227deg, 51%, 38%);
$gray: hsl(198deg, 16%, 84%);
$gray-semi-transparent: rgba(0, 0, 0, 0.5);
$white: hsl(0deg, 0%, 97%);
$yellow-dark: hsl(43deg, 96%, 58%);
$yellow-medium: hsl(54deg, 100%, 67%);

// Background colors
$background-body: $blue-light;
$background-game: $blue-dark-semi-transparent;
$background-game-in-focus: $blue-dark;
$background-link-hover: $blue-medium;
$background-expandable: $blue-dark;
$background-stats-panel: $blue-dark-semi-transparent;
$background-header: $blue-dark-semi-transparent;
$background-secondary-panel: $blue-dark;

// Foreground colors
$color-highlight: $yellow-dark;
$color-highlight-light: $white;
$color-header: $white;
$color-accent: $yellow-medium;
$color-accent-light: $white;
$color-main: $gray;
$color-score-panel: $white;
$color-shadow: $gray-semi-transparent;

// Border colors
$border-color-link: $blue-medium;
