$border-radius: 1rem;
$link-border-radius: 2rem;

$header-height: 4rem;

$game-card-line-height: 1.5rem;
$game-card-margin: 0.25rem;
$game-card-width: 16rem;

$panel-padding-height: 0.75rem;
$game-description-height: $game-card-line-height + $panel-padding-height;

$stats-line-height: $game-card-line-height;

$latest-goal-height: 8.75rem;
$latest-goal-padding-height: $panel-padding-height;

$content-width: 2 * ($game-card-width + 2 * $game-card-margin) + 0.1rem;

$game-stats-line-count: 9;
$team-stats-line-count-max: 7;

@function get-stats-section-height($line-count) {
  @return $panel-padding-height + $line-count * $stats-line-height;
}

@function get-stats-panel-height($line-count) {
  @return $panel-padding-height + get-stats-section-height($line-count);
}
