@use '../../styles/animations';
@use '../../styles/colors';
@use '../../styles/sizes';

.game-description {
  padding-bottom: sizes.$panel-padding-height;
  color: colors.$color-main;
  text-align: center;

  .game--pre-game & {
    @include animations.delayed-animation-earlier;
  }
  .game--in-progress & {
    @include animations.delayed-animation;
  }

  &__value {
    padding-left: 0.25rem;
    color: colors.$color-accent-light;
  }
}
