@use '../../styles/animations';
@use '../../styles/sizes';

.info-panel {
  position: relative;
  padding-bottom: sizes.$panel-padding-height;
  font-size: 1.2rem;
  line-height: 1.5rem;
  box-sizing: border-box;

  @media (prefers-reduced-motion: no-preference) {
    transition: height animations.$height-duration animations.$height-timing-function;
  }

  &:last-child > *:last-child {
    border-bottom-left-radius: sizes.$border-radius;
    border-bottom-right-radius: sizes.$border-radius;
  }

  .game--playback &,
  .game--pre-summary-finished &,
  .game--summary-finished & {
    height: sizes.$latest-goal-height;
  }

  .game--in-progress &,
  .game--pre-summary-in-progress &,
  .game--summary-in-progress & {
    height: sizes.$latest-goal-height + sizes.$game-description-height;
  }

  @for $i from 1 through sizes.$team-stats-line-count-max {
    &--team-stats-line-count-#{$i} {
      .game--pre-game & {
        height: sizes.$game-description-height + sizes.get-stats-panel-height($i);
      }

      .game--post-game-finished & {
        height: sizes.$latest-goal-height + sizes.get-stats-panel-height($i);
      }
      .game--post-game-finished &.info-panel--with-game-stats {
        height: sizes.$latest-goal-height +
          sizes.get-stats-panel-height($i) +
          sizes.get-stats-section-height(sizes.$game-stats-line-count);
      }

      .game--post-game-in-progress & {
        height: sizes.$latest-goal-height +
          sizes.$game-description-height +
          sizes.get-stats-panel-height($i);
      }
      .game--post-game-in-progress &.info-panel--with-game-stats {
        height: sizes.$latest-goal-height +
          sizes.$game-description-height +
          sizes.get-stats-panel-height($i) +
          sizes.get-stats-section-height(sizes.$game-stats-line-count);
      }
    }
  }
}
