@use '../../styles/animations';
@use '../../styles/sizes';

.info-panel {
  position: relative;
  font-size: 1.2rem;
  line-height: 1.5rem;
  box-sizing: border-box;

  &:last-child > *:last-child {
    border-bottom-left-radius: sizes.$border-radius;
    border-bottom-right-radius: sizes.$border-radius;
  }

  &__section {
    overflow: hidden;

    &--latest-goal-or-summary {
      height: sizes.$latest-goal-height;
      visibility: visible;

      @media (prefers-reduced-motion: no-preference) {
        transition: height animations.$height-duration animations.$height-timing-function;
      }

      .game--pre-game & {
        height: 0;
        visibility: hidden;
      }
    }
  }
}
