@use '../../styles/colors';
@use '../../styles/sizes';

.latest-goal {
  height: sizes.$latest-goal-height - sizes.$latest-goal-padding-height;
  padding-bottom: sizes.$latest-goal-padding-height;
  &__time,
  &__goal-count {
    color: colors.$color-main;
  }

  &__team {
    margin-left: 0.7rem;
    color: colors.$color-accent-light;
  }

  &__strength,
  &__empty-net {
    margin-left: 0.7rem;
    color: colors.$color-accent;
  }

  &__scorer,
  &__assister {
    color: colors.$color-highlight;
    white-space: nowrap;
    overflow: hidden;
  }

  &__assists {
    &:not(:empty) {
      margin-top: 0.5rem;
    }
  }

  &__assists-label {
    font-size: 1rem;
    text-transform: uppercase;
  }
}
